[package]
name = "toml_parser"
version = "1.0.9"
description = "Yet another format-preserving TOML parser."
categories = ["encoding", "parser-implementations", "parsing", "config"]
keywords = ["encoding", "toml", "no_std"]
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
include.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--generate-link-to-definition"]

[package.metadata.release]
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="{{version}}", min=1},
  {file="CHANGELOG.md", search="\\.\\.\\.HEAD", replace="...{{tag_name}}", exactly=1},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}", min=1},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n## [Unreleased] - ReleaseDate\n", exactly=1},
  {file="CHANGELOG.md", search="<!-- next-url -->", replace="<!-- next-url -->\n[Unreleased]: https://github.com/toml-rs/toml/compare/{{tag_name}}...HEAD", exactly=1},
]

[features]
default = ["std"]
alloc = []
std = ["alloc"]
simd = ["winnow/simd"]
unsafe = []

debug = ["std", "dep:anstream", "dep:anstyle"]

[dependencies]
anstream = { workspace = true, optional = true }
anstyle = { workspace = true, optional = true }
winnow = { workspace = true, default-features = false }

[dev-dependencies]
anstream = { workspace = true, features = ["test"] }
snapbox = { workspace = true }
toml_datetime = { workspace = true }

[lints]
workspace = true
